<br>
<div class="container">
  <div class="row">
    <div class="col-md-10">
     <h3 class='links_color glow float-left'><%= @title %></h3><br><br><br>
    </div>
    <div class="col-md-2 ">
      <a href="<%=maincourse_list_path%>" class="btn btn-secondary button_property float-right btn-lg active btn-primary_register btn_view" role="button" aria-pressed="true">Move to Maincourse</a>
    </div> 
  </div>
  <div id='main-content' class="card-deck">
    <div class="card mb-3 embose_effect" style="width: 18rem;">
        <img class="card-img-top img_cards" src="https://i.ndtvimg.com/i/2017-10/til-e-paneer-recipe_620x350_81508325068.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title links_color glow">Veg</h5>
        <p class="card-text links_color">Veg Varieties waiting for you</p>
       <a href="<%=veg_starters_path%>" class="btn btn-primary btn-primary_register btn_view">Menu</a>
      </div>
    </div>
    <div class="card mb-3 embose_effect" style="width: 18rem;">
        <img class="card-img-top img_cards" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdoQl_e7t61czGrAGYAf3Xv1pyUKx04JGDAuoXKdTAZyqebJZe" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title links_color glow">Non-veg</h5>
        <p class="card-text links_color">Grab some of our delicious Non-veg</p>
        <a href="<%=n_v_starters_path%>" class="btn btn-primary btn-primary_register btn_view">Menu</a>
      </div>
    </div>
</div> 



