<br>
<h3 class='links_color'>Dishes</h3>
<br>
<% @posts.each do |post| %>
    <div class="well">
        <h3 class='links_color'><%= post.title %></h3>
        <p><%= post.body %></p>
        <%= link_to "Add Reviews", post_path(post), 
            :class => 'btn btn-secondary button_property btn-lg active btn-primary_register btn_view' %>
    </div>
<% end %>