<br>
<h4>Edit Categories<h4>
<%= form_for :post, url: categories_path(@category), method: :patch do |f| %>
    <p>
        <%= f.label :name %><br>
        <%= f.text_field(:name, {:class => 'form-control'}) %>
    </p>

    <p>
    <%= f.submit({:class => 'btn btn-primary'}) %>
    </p>
<% end %>